@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div class="alert alert-info">
	<p>MSV: 2310900094</p>
	<p>Họ và tên: Kim Ngọc Tâm</p>
	<p>Ngày sinh: 01/01/2000</p>
	<p>Địa chỉ: 123 Đường ABC, Phường XYZ, Quận 1, TP.HCM</p>
</div>