
@{
    ViewData["Title"] = "About me!";
}

<div class="container">
    <h2 class="fs-2">
        @ViewData["Title"]
    </h2>
    <div class="card">
        <div class="card-header">
            My information
        </div>
        <div class="card-body">
            Student ID: 2310900094 <br/>
            Name: Kim Ngoc Tam <br/>
            Github: KimTam05 <br/>
            Class: K23CNT2 <br/>
            Email: kimngoctam15@gmail.com <br/>
        </div>
    </div>
</div>
