@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
    <h2 class="fs-3">
        About me
    </h2>

    <p>
    My name is Kim Tam. This project is part of my learning journey in ASP.NET Core MVC. <br/>
    <a href="https://github.com/KimTam05" class="text-decoration-none"> <i class="fa-brands fa-github"></i> Github</a>
    </p>
</p>
