<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - Lesson04 - <a asp-area="" asp-controller="KntHome" asp-action="KntAbout">My Information</a>
    </div>
</footer>