@{
    ViewData["Title"] = "My Profile";
}
<h1>@ViewData["Title"]</h1>

<p>
    MSV: 2310900094
</p>
<p>
	Full name: Kim Ngọc Tâm
</p>
<p>
	Class: K23CNT2
</p>
<p> Email: kimngoctam15@gmail.com</p>
<p>Phone: 0987422491</p>
