@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-header">
        <h2 class="card-title display-4">My Information</h2>
    </div>
    <div class="card-body">
        <p class="card-text">Name: Kim Ngoc Tam</p>
        <p class="card-text">Student ID: 2310900094</p>
        <p class="card-text">Class: K23CNT2</p>
        <p class="card-text">Email: kimngoctam15@gmail.com</p>
        <p class="card-text">GitHub: <a href="https://github.com/KimTam05" class="text-decoration-none" target="_blank"><i class="fa-brands fa-github"></i> - KimTam05</a></p>
    </div>
</div>
