@{
    ViewData["Title"] = "Thêm mới nhân viên";
}
@using Lab06.Models
@model KntEmployee
@Html.AntiForgeryToken();

<h3>Thêm nhân viên</h3>
<form asp-action="KntCreate" method="post" class="form-horizontal">

    <div class="form-group mb-3">
        <label asp-for="KntName" class="control-label">Họ và tên</label>
        <input asp-for="KntName" class="form-control" />
        <span asp-validation-for="KntName" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="KntBirthday" class="control-label">Ngày sinh</label>
        <input asp-for="KntBirthday" class="form-control" type="date" />
        <span asp-validation-for="KntBirthday" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="KntEmail" class="control-label">Email</label>
        <input asp-for="KntEmail" class="form-control" />
        <span asp-validation-for="KntName" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="KntPhone" class="control-label">Số điện thoại</label>
        <input asp-for="KntPhone" class="form-control" />
        <span asp-validation-for="KntPhone" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="KntSalary" class="control-label">Lương</label>
        <input asp-for="KntSalary" class="form-control" />
        <span asp-validation-for="KntSalary" class="text-danger"></span>
    </div>

    <div class="form-check mb-3">
        <input asp-for="KntIsActive" class="form-check-input" />
        <label asp-for="KntIsActive" class="form-check-label">Hoạt động?</label>
        <span asp-validation-for="KntIsActive" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
