@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Lesson05.Models.DataModel.KntMember

@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Version: 1.0.0</p>
    <p>Author: XCode</p>
    <p>License: MIT</p>
    <p>Contact: 0987422491</p>
    <p>School: Nguyen Trai University</p>
    <p>Address: 123 Nguyen Trai, Thanh Xuan, Hanoi</p>
    <p>Email: kimngoctam15@gmail.com</p>
</div>