@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <ul style="list-style: none">
        <li>Họ và tên: Kim Ngọc Tâm</li>
        <li>Lớp: K23CNT2</li>
        <li>SĐT: 0987422491</li>
        <li>Email: kimngoctam15@gmail.com</li>
    </ul>
</p>
